.loggingcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
    margin: auto;
    margin-top: 30vh;
    width: clamp(100px, 80%, 900px);
   
    border: 2px solid rgb(96 139 168);
}


.loggingcontainer form {
    display: flex;
    flex-direction: column;
    gap: 10px;
     padding: 10px;

}